3rdparty/
build/langs/
build/profiles/
build/tessdata/
build_server/
build/traindata/*.png
build/traindata/*.txt
build/*bat
upload_server/
mycom_bot_server/
.vs/
Debug/
Release/
*.dll
*.exe
*.lnk
/src/smc_source/Logic.sm
/src/smc_source/Logic_sm.cpp
/src/smc_source/Logic_sm.h
/src/smc_source/Logic_sm.lua
*.crt.h
*.pdb
/package/
upload_tmp/
updater_test/
